.button {
  &__restart {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 6px;
    border-radius: 25%;
    border: solid 1px $purple;
    background-color: $darkGreen;

    @media (min-width: 1000px) {
      position: fixed;
      right: 25px;
      top: 25px;
    }
  }

  &__restart:hover {
    background-color: $lightGreen;
  }
}
